 body {
 	margin: 0 auto;
 	max-width: 768px;
 }
 .top {
 	width: 100%;
 	height: 68px;
 	background: #5fc0cd;
 	text-align: center;
 	
 }
 
 .top a {
 	float: right;
 	margin-top: 12px;
 	padding-right: 10px;
 }
 
 .top button {
 	display: inline-block;
 	border: none;
 	border-radius: 5px;
 	outline: none;
 	margin: 0;
 }
 
 .top .top_address {
 	display: inline-block;
 	background-image: url(../img/sprite_icon.gif);
 	background-repeat: no-repeat;
 	width: 50px;
 	height: 50px;
 	background-position: -3px 0px;
 }
 
 .top .top_nav1 {
 	color: #ffffff;
 	background: #55a8b3;
 	line-height: 48px;
 	padding: 0 20px;
 	margin: 10px 0px;
 }
 
 .top .top_nav2 {
 	color: #5fc0cd;
 	background: #ffffff;
 	line-height: 48px;
 	padding: 0 20px;
 	margin-left: -10px;
 	text-align: center;
 }
 
 .head {
 	height: 82px;
 	width: 100%;
 	line-height: 82px;
 	vertical-align: middle;
 	text-align: center;
 	border-bottom: 1px solid #e1e5e7;
 }
 .head div {
 	width: 33.3%;
 	float: left;
 	line-height: 82px;
 	vertical-align: middle;
 	z-index: 1;
 }
.sel_title{
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: #000000;
}
 .select{
 	display: inline-block;
 	vertical-align: middle;
 	margin: 0 10px;
 	width:0;
    height:0;
    border-width:8px 8px 0;
    border-style:solid;
    border-color:#dadcdd transparent transparent;
 }
 .more{
 	display: inline-block;
 	vertical-align: middle;
 	right: 10px;
    background-image: url(../img/sprite_icon.gif);
    width: 1px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: 0px center;
 }
 
 
 .nav,.nav-content{margin: 0;padding: 0;}
 .nav > li{float: left;list-style: none;width: 33.3%;}
 .nav > li a{color: #dadcde;}
 .nav .nav_title{position: relative;}
 .nav .nav-content{position: absolute;}
 .head .nav_title:hover .nav-content{display: block;bac}
 .nav-content{display: none;background-color: #DFDFDF;width: 100%;}
 .nav-content li{list-style: none;line-height: 25px;}
 .nav-content li:hover{list-style: none;line-height: 25px;background-color: #BD2C00;}
 .nav-content li a{color: #000000;text-decoration: none;}
 .nav-content li:hover a{color: #000000;text-decoration: none;color: #FFFFFF;}
 
 .content {
 	width: 100%;
 	max-height: 500px;
 	overflow-y: scroll;
	margin-bottom:100px;
 }
 .content .list{margin: 0;padding: 0;}
 .content .list li{list-style: none; border-bottom: 1px solid #dcdedf;}
 .list_title .list_service_date{
 	display: inline-block;
 	background-image: url(../img/sprite_icon.gif);
 	background-repeat: no-repeat;
 	width: 26px;
 	height: 26px;
 	background-position: -54px -1px;
 	margin: 10px;
 }
 .list_content,.list_con_left,.list_con_right,.list_price,.list_more,.list_address_icon{vertical-align: middle;}
 .list_text{color: #dadcdd;}
 .list_title span{display: inline-block;vertical-align: middle;}
 .list_content{overflow: hidden;line-height: 32px;}
 .list_con_left{float: left;margin-left: 10px;}
 .list_con_right{float: right;line-height: 32px;}
 .list_price{display: inline-block;line-height: 32px;color: #e63b0e;}
 .list_more{
 	display: inline-block;
 	background-image: url(../img/sprite_icon.gif);
 	background-repeat: no-repeat;
 	width: 20px;
 	height: 32px;
 	background-position: -60px -45px;
 	margin: 0 10px;
 }
 .list_address{margin: 5px 0;}
 .list_address_icon{
 	display: inline-block;
 	background-image: url(../img/sprite_icon.gif);
 	background-repeat: no-repeat;
 	width: 26px;
 	height: 26px;
 	background-position: -10px -50px;
 	margin: 0 10px;
 }
 
 .footer{
 	width: 100%;
 	height: 100px;
 	max-width: 768px;
 	background: #f8fafb;
 	position:fixed;bottom:0px;
 	text-align: center;
 }
 .footer div{width: 33.3%;float: left;}
 .footer div a{display: block;width: 100%;left: 50%;cursor: pointer;}
 .footer .home{
 	display: inline-block;
 	background-image: url(../img/bottom_icom.gif);
 	background-repeat: no-repeat;
 	width: 45px;
 	height: 40px;
 	background-position: -27px -3px;
 	margin-top: 15px;
 }
 .active{color: #5bc0ce;}
 
 
 .footer p{margin-top: 0;}
 .footer .edite{
 	height: 80px;width: 80px;
 	border-radius: 40px;
 	background-color: #5fc0cd;
 	text-align: center;
 	margin-top: 10px;
 	margin-left: 50%;
 	transform: translateX(-50%);
 }
 .footer .ed{
 	display: inline-block;
 	background-image: url(../img/bottom_icom.gif);
 	background-repeat: no-repeat;
 	width: 50px;
 	height: 45px;
 	background-position: -72px -3px;
 	margin-top: 15px;
 	
 }
 .footer .person{
 	display: inline-block;
 	background-image: url(../img/bottom_icom.gif);
 	background-repeat: no-repeat;
 	width: 45px;
 	height: 40px;
 	background-position: -128px -3px;
 	margin-top: 15px;
 }
 
 
 
 
 .clear {
 	zoom: 1;
 }
 
 .clear:after {
 	content: "";
 	display: block;
 	clear: none;
 	visibility: hidden;
 }